body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    background:#f4f6f9;
}

.navbar{
    background:#5a2ea6;
    color:white;
    padding:15px 40px;
    display:flex;
    justify-content:space-between;
}

.navbar a{
    color:white;
    text-decoration:none;
    margin-left:20px;
}

.container{
    width:85%;
    margin:auto;
    margin-top:30px;
}

.card{
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
    margin-bottom:20px;
}

button{
    background:#5a2ea6;
    color:white;
    border:none;
    padding:10px 18px;
    border-radius:6px;
    cursor:pointer;
}

button:hover{
    background:#472488;
}

input, textarea{
    width:100%;
    padding:10px;
    margin-top:8px;
    margin-bottom:15px;
    border-radius:6px;
    border:1px solid #ccc;
}